main {
    background-color: #010101;
    display: flex;
    flex-direction: column;
}

.adele-title {
    background-color: #fff;
    text-align: center;
}

.adele-title__number {
    font-size: 0.7em;
}

.adele-sms {
    background-color: #fff;
    padding: 0 20px;
    flex-grow: 1;
    overflow-y: scroll;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 12px;
}