main {
    background-color: #010101;
    display: flex;
    flex-direction: column;
}

main header {
    margin-bottom: 0;
}

.gallery-title {
    background-color: #767676;
    text-align: center;
    padding: 10px 0;
    color: white;
}

.gallery {
    background-color: #fff;
    flex-grow: 1;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding: 10px 0;
}

::-webkit-scrollbar {
    width: 12px;
}

.gallery__thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}