/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 0.8em;
    padding: 10px 15px;
    margin-bottom: 100px;
}

.connection {
    display: flex;
    align-items: center;
    gap: 5px;
}

.connection img{
    height: 0.8em;
}